@import "../../scss/variables";

.comment-text {
  @include textSettings(
    $fontSize: 14px,
    $fontColor: rgba(0, 0, 0, 0.6),
    $lineHeight: 20px
  );
  margin: 0;
}

.comm-error-text {
  @include textSettings(
    $fontSize: 12px,
    $fontColor: $errorColor,
    $lineHeight: 20px
  );
  margin: 0;
}
