$fontFamily: "Roboto", sans-serif;
$fontColorLight: #ffffff;
$fontColorDark: #0b0a0d;
$bgDark: #0b0a0d;
$bgLight: #ffffff;
$errorColor: rgb(227, 50, 50);
$successColor: #75ff72;
$fontSizeTitles: 30px;
$fontSizeTitlesMob: 40px;
$defaultMargin: clamp(15px, 5vw, 100px);
$smInputH: 50px;
$lgInputH: 100px;
$fullWidth: 100%;

@mixin textSettings($fontSize, $fontColor, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: 400;
  font-family: $fontFamily;
  color: $fontColor;
}

@mixin feedbackButtonAndInput($height) {
  box-sizing: border-box;
  height: $height;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: $fontColorDark;
  cursor: pointer;
}

@mixin titles($titleColor) {
  margin-bottom: 10px;
  font-size: $fontSizeTitles;
  font-weight: 500;
  line-height: 106%;
  letter-spacing: -0.03em;
  color: $titleColor;
  font-family: $fontFamily;

  @media all and (max-width: 700px) {
    font-size: $fontSizeTitlesMob;
  }
}
